apiVersion: v1
kind: Service
metadata:
  name: fire
  labels:
    app: fire
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: fire
